<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="container">
<h2>Thanks!</h2>

<table border="1">
	<thead>
    <tr>
    	<td>Permalink</td>
    	<td>Create Date</td>
    	<td>Recipient</td>
    	<td>Manager</td>
    	<td>Sender</td>
    	<td>Message</td>
    </tr>
    </thead>
    <tbody>
    <% results.forEach(function(r) { %>
    <tr>
        <td><a href="<%= r.permalink_url %>">Link</a></td>
        <td><%= r.create_date %></td>
        <td><%= r.recipient %></td>
        <td><%= r.recipient_manager %></td>
        <td><%= r.sender %></td>
        <td><%= r.message %></td>
    </tr>
    <% }); %>
    </tbody>
</table>

</div>

</body>
</html>
